<div class="container-fluid">
  <h3>Vivero El Otoño</h3>
  <hr>
  <img style="width: 50%; height: 50%" src="https://as2.ftcdn.net/v2/jpg/03/26/63/29/1000_F_326632909_3r5cJJcsZvgvXktgtH01Rwn4dMdVj6rc.jpg" alt="vivero" />
  <!-- https://as1.ftcdn.net/v2/jpg/04/96/43/90/1000_F_496439007_J36BH6dyAaRggjqdQyQXiMcywAmu37wF.jpg -->
  <hr>
  <div class="col-6">
    <table class="table">
    <!-- <table class="table table-striped"> -->
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Común</th>
          <th scope="col">Tipo</th>
          <th scope="col">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plant of plants">
          <th scope="row"> {{plant.id}} </th>
          <td> {{plant.nombre_comun}}</td>
          <td> {{plant.tipo}}</td>
          <td> {{plant.clima}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <h6>Total plantas de interior: {{interior}}</h6>
  <h6>Total plantas de exterior: {{exterior}}</h6>
</div>
